body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body>header{
background-color: rgb(255, 255, 253);
position:fixed;
width: 100%;
top:0px;
left:0px;
text-align: center;
z-index: 1;
}
header nav {
  background-color:green;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  height:4vh;
}
nav a:hover{
  color: black;
}
nav > a{
  text-decoration: none;
 margin: 0px 20px;
 color: white;
 font-size: 20px;
}
header p {
  font-size: 22px;
}
main{
  position: absolute;
  top:30%;
  left:0px;
  text-align: center;
  width:100%;
  overflow-y: scroll;
  padding: 0.5em 0em 5em 0em;
}
article p {
  font-size: 22px;
  font-weight: 300;
}
h2{
  font-weight: 500;
  text-wrap: warp;
}
body>footer{
font-size: 18px;
 position:fixed;
 bottom: 0px;
 background-color: green;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50px;
 gap:3px;
}
address p {
  font-size: 15px;
}
details:hover{
 cursor: pointer;
}
details p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: sans-serif;
}
figure {
  width: 100%;
}
img{
  width: 50%;
  height: fit-content;
  object-fit:contain;
}