body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}
body>header{
background-color: rgb(255, 255, 253);
/* border:1px solid black; */
position:fixed;
width: 100%;
top:0px;
left:0px;
text-align: center;
}
header nav {
  background-color:green;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  height:4vh;
}
nav > a{
  text-decoration: none;
 margin: 0px 20px;
 color: white;
 font-size: 20px;
}
header p {
  font-size: 22px;
}